.btn-group {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap:10px
}
@media(max-width:660px) {
    .btn-group {
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }
}

.btn {
    font-size: 16px;
    border-radius: 75px;
    border: none;
    padding: 7px 10px;
    color: #ffffff;
    cursor: pointer;
    transition: 0.3s all;
}
.btn-light {
    background-color: #8807ca;

    transition: 0.3s all;
}
.btn-light:hover {
    background-color: #7203aa;
}

.btn-outline-light {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #ffffff;
    transition: 0.3s all;
}
.btn-outline-light:hover {
    background-color: #8807ca;
    border: 1px solid #8807ca;
}